<h1>Login to Art Palette!</h1>

<br>
<form action='/login' method="POST">
<input type="text" name="username" value="<%= params[:username]%>" placeholder="Username:">
<input type="password" name="password" placeholder="Password:">
<input type="submit" value="Submit">
</form>

<br>
 <form action="/" method="get">
<button>Cancel </button> 
 