<h1> Hello, <%= current_user.username %> ! </h1>
<h2> Here are your Art Supplies! </h2>


    
    <% @supplies.each do |supply| %>
       <h1> <%= supply.name %> </h1>
           
<% end %>
<br>

<br>
 

 <a href="/supplies/new"> Add new supply</a>

 
 <form action="/logout" method="post">
<button>Log Out</button> 
 </form> 





