<h1>Submit your Supply</h1>

<form action="/supplies" method="post">
   <label>Name</label>
    <input type="text" name="name">
    <label>Brand</label>
    <input type="text" name="brand">
    <label>Image URL</label>
    <input type="text" name="image">
    <button>Add Supply</button>
</form>

<br>
<form action="/supplies" method="get">
<button>Back</button>
</form>