<h1>Submit your Supply</h1>

<form action="/supplies" method="POST">
   <label>Name</label>
    <input type="text" name="Name">
    <label>Brand</label>
    <input type="text" name="Brand">
    <label>Image URL</label>
    <input type="text" name="Image">
    <button type="submit">Add Supply</button>
</form>