<h1>Welcome to Art Palette!</h1>
<h3>A convenient place for you to store your art supplies!</h3>

<br>
<form action="/login" method="get">
<button> Login </button> 
 </form>

<br>
 <form action='/signup' method="get">
<button> Signup </button> 
</form>